.nav {
    overflow: hidden;
}

.sk {
    position: absolute;
    left: 190px;
    top: 40px;
    padding: 3px 0 0 14px;
    border-left: 1px solid #c81523;
}

.sk_list {
    float: left;
}

.sk_list ul li {
    float: left;
}

.sk_list ul li a {
    display: block;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    line-height: 47px;
}

.sk_con {
    float: left;
}

.sk_con ul li {
    float: left;
}

.sk_con ul li a {
    display: block;
    padding: 0 20px;
    font-size: 14px;
    line-height: 49px;
}

.sk_con ul li:last-child a::after {
    content: 'î¤ž';
    font-family: icomoon;
}

.sk_bd ul li {
    overflow: hidden;
    float: left;
    width: 290px;
    height: 460px;
    margin-right: 13px;
    border: 1px solid transparent;
}
.sk_bd ul li:nth-child(4n){
    margin-right: 0;
}
.sk_bd ul li:hover {
    border: 1px solid #c81523;
}
.container{
    margin-bottom: 280px;
}