.w{
    width: 1200px;
    margin: 0 auto;
}
header{
    height: 84px;
    border-bottom: 2px solid #c81523;
}
.logo{
    padding-top: 18px;
}
.registerarea{
    height: 522px;
    margin-top: 20px;
    border: 1px solid #ccc;
}
.registerarea h3{
    height: 42px;
    line-height: 42px;
    padding: 0 10px;
    border-bottom: 1px solid #ccc;
    background-color: #ececec;
    font-size: 18px;
    font-weight: 400;
}
.login{
    float: right;
    font-size: 14px;
}
.login a{
    color: #c81523;
}
.reg_form{
    width: 600px;
    margin: 50px auto 0;
}
.reg_form ul li{
    margin-bottom: 20px;
}
.reg_form ul li label{
    padding-right: 8px;
    display: inline-block;
    width: 88px;
    text-align: right;
}
.reg_form ul li .inp{
    margin-right: 10px;
    width: 242px;
    height: 37px;
    border:  1px solid #ccc;
}
.error{
    color: #c81523;
}
.success{
    color: green;
}
.error_icon,.success_icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: -2px;
    vertical-align: middle;
}
.error_icon{
    background:url('../images/error.png') no-repeat;
}
.success_icon{
    background:url('../images/success.png') no-repeat;
}
.safe{
    padding-left: 166px;
}
.safe em{
    padding: 0 12px;
    margin:0 2px;
    color: #fff;
}
.safe em:nth-child(1){
    background-color: #de1111;
}
.safe em:nth-child(2){
    background-color: #40b83f;
}
.safe em:nth-child(3){
    background-color: #f79100;
}
.agree{
    padding-left: 90px;
}
.agree input{
    vertical-align: middle;
}
.agree a{
    color: #1ba1e6;
}
.btn{
    margin: 30px 0 0 110px;
    width: 200px;
    height: 34px;
    background-color: #c81623;
    color: #fff;
    font-size: 14px;
}
.mod_copyright{
    padding-top: 20px;
    text-align: center;
}
.links{
    margin-bottom: 15px;
}
.links a{
    margin: 0 15px;
}
.copyright{
    line-height: 20px;
}
